{% extends "base.html" %}


{% block content %}
<br/>
<br/><br/>
  <h1 align="">Features that depends on prediction of Diabetes</h1>



  <ul>
    <li class="mt-4  text-dark"><h3>Plasma glucose concentration a 2 hours in an oral glucose tolerance test</h3></li>

    <li class="mt-4 text-dark"><h3>Diastolic blood pressure (mm Hg)</h3></li>

    <li class="mt-4 text-dark"><h3>Triceps skin fold thickness (mm)</h3></li>

    <li class="mt-4 text-dark"><h3>2-Hour serum insulin (mu U/ml)</h3></li>

    <li class="mt-4 text-dark"><h3>Body mass index (weight in kg/(height in m)^2)</h3></li>

    <li class="mt-4 text-dark"><h3>Diabetes pedigree function</h3></li>

    <li class="mt-4 text-dark"><h3>Age (years)</h3></li>
  </ul>






{% endblock %}
